# Dependencies
node_modules/
*/node_modules/

# Production Build Outputs
dist/
dist-ssr/
*.local

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.env

# Editor & OS Artifacts
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
